sudo: required
dist: trusty

language: java
jdk:
- oraclejdk8

cache:
  directories:
  - $HOME/.m2/repository

before_install:
  # install Apache Thrift
  - sudo apt-get update -qq
  - sudo apt-get install libboost-dev libboost-test-dev libboost-program-options-dev libevent-dev automake libtool flex bison pkg-config g++ libssl-dev
  - wget http://archive.apache.org/dist/thrift/0.11.0/thrift-0.11.0.tar.gz
  - tar xfz thrift-0.11.0.tar.gz
  - cd thrift-0.11.0
  - ./configure --without-c_glib --without-cpp --without-ruby --without-python --without-go --without-erlang --without-nodejs --without-php
  - sudo make install
  - cd ..

  # allocate commits to CI, not the owner of the deploy key
  - git config user.name "opentracingci"
  - git config user.email "opentracingci+opentracing@googlegroups.com"

  # setup https authentication credentials, used by ./mvnw release:prepare
  - git config credential.helper "store --file=.git/credentials"
  - echo "https://$GH_TOKEN:@github.com" > .git/credentials

install:
  # Override default travis to use the maven wrapper
  - ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script:
  - ./travis/publish.sh

branches:
  except:
    - /^[0-9]/

after_success:
  - mvn jacoco:report coveralls:report

env:
  global:
  # Ex. travis encrypt BINTRAY_USER=your_github_account
  - secure: "YDqbuKeimF9sYfNjBxiuFKLAinMNLfD2u3p9CPmJl4xaCmFHnbOP/yFu2y4yr2Y8QuVFCsYRyk/s6DBulw9hgQoDQMxMto/YzNalSHpqCBQcSbhTmb6GzKziHjExIvuF417VI47nhq836m5WCXG8/XJtunCJh0wop+rgdM4v3g90fkw74ObVPWttMTn7Wp6fjAJWF4IlUaF6y124fQQqP1dfL56NrQsrSQYfGjm+V98zHNg+J0BrTuAjJQR2Js2Sj72iQMrniBR/JhB6O+kp1pFW0e3RY/WRadsLudX4u7d14mFwHMfBPPef5GQdMg6gKb2YiEWLe/Yc7HITwhXvIgYN/CzrrfTyikvWymCW6QoezcVxXQ3daLFdGFZT/r0v4DhmDONuzcxsNs+Mn6XPsxbldd487E2J5BJFh6PIuUxg30lVAQoTsI6XfYFd4vIFeanmbE2K8Hgf72eJmM92u9wogquy3kyHDbqEx/G889Oy165MbH2VO3JAOlaI+DzCOlgBzKJOIbfs3rbIrF7RmIt6ZpwP0fW3UOb3VxrWQkM/mLpKlu3X8VNVxKOTWvK25xwYwr3d/n5xhdQUgUaoxwtTDVhDxZVhUfjS/nKgMtaq1rA2iQ/Jo3s8L8mzYRWsyWUFeRbe200BLYzobsdkcOfZVOFm6muNXr2zd48jwg0="
  # Ex. travis encrypt BINTRAY_KEY=xxx-https://bintray.com/profile/edit-xxx --add
  - secure: "LVAya/u3Aq0p3oRh34baU+tUCcTa1MxVCTYXnVVQEX7v43+WdOh+HRgiFo5+YfKzav/t2WC6hFwrK5Mj1j1Ntr1dvOkA99Dftg33J0Sg6CDBwKSJb5s6JBxY6qfbRrNU4DY8gxc8Xu4zpVSX+YgstmRy9ZvAQbnG9hPfz2eXRYUSYqk8A8Pki/Nt0ERPfKu2YsWfVrNhkxk7WcJbLULCpYS+QuXt+yj+JbPrwUJiHHLyBkM9Hvqy31Jte/5oDkO7BoJpPmAAma+cRiJugfDJT3enMm/UwuLhcA/cYCViJQbQ9QawfUWIcxq1qAmTSMFDYI4h7R9/1eYQAIMto/fyPxBUdHsjozEDQDo2nGavNipUBjVa8L09Q07QYx03cr2PbDTYPXMUo70Xc2ovtYG0laueWa7zc2a/Pn+adVFLQc0Gyg5/jB6exyRddRugS0Sovg9uPx7EU2JDTF81EfAy9LKlj0YmrK0wD03xHJoorHcV33boKgK6ymRZi3mT8jS+eVzbRutYqyDSL5zN9TnW53cwAJE4Lai+ec5zrOYr5q2DhGhhzuhBsUDiJxBxixD433eo9o0H/v65lsM8A/ZQThKwByDCghnYCByWvs3MkLIgUpGLUUBhP/OofMVBdehdesu7D3ypq5cx2mvnUbGs41MMOUqyEjN6mGZlBFhLAnI="
  # Ex. travis encrypt GH_TOKEN=XXX-https://github.com/settings/tokens-XXX --add
  - secure: "EY7to0U7f8m1LrbX5//ypj2YVKOxaC5wnEV5ov9tYd3tKNQuUAlU1ia5RarjpE34piuD7IQxfOWUYOGtcFYwEBkWxxfCfqRUPjWtu5Mlhw1KKvQlL3FKPvIAvywe11FqS55py8z5ZFTSrueoiZC502JJpBA/4EsKWLiBdjEbhtccCNdYNO5Rz63d+FNDFg4FMPSknkVcNhclztR0gAyLjKLOsiJQb78k85kIv1EWbfxEjm4t40vm/lEiM6uhKWiSasxV9uSyMq9loqTmdUmshndqa6SZjffe1zi5wm2UPqD+9SlZhzoAtVFLSNPRnqSnG2jMV8ngAq7f3UsVKjl7GZPYj+91IjGHF8yevQkDquGPGVpGGupPPiC5BrU7gEtnXxmc4DD/B2p07y5r6WjimSCeV5X9cD1e6ftF/2CyrtawOQgKBFA8fLJgicODCvfxWfGzeDDsgG3JrdGZ+OjIx2YaqIlLwdsRQ70Skl9FtsCDCYWWyRxjms9tIlWwHd7DJ/dFYMTliZfDZpRrhgDP31mY5kSBhLfmWh1P4P7qIAFpFHBs6Lysf9MiZDqKHDk8oy6lWI+l9KngGY27cxa6kFydMcEDBcpjOlJaV6BNz/9UdFBDYfDti/w0p0csU4pmJ4M3BmZW4pzkvoEajIy5/8PsrmOWo/iKLzytV0SwHN8="
  # Ex. travis encrypt SONATYPE_USER=your_sonatype_account
  - secure: "YoCp9pDfPupNjEig8QDhf5D7y8M6VKj/XJ2EcfWvxQqzejWjHcUE4r2p96zzAQV9V7hZ3VgknmGSrMVshBq/zAhT4FTaY2KF4LL5b9X8AIVT0E6YAHSMxLH6E9uENTYwmtHmSrMzvVAXleJQi/6Hni9tCoh8OQOAW+L3O1q4f6SckNJa1t2m+1CkakFmmYpH89T2uuMf7dm+ckOinB+u6jUHIOaDaPshlmz3YJfh2Dk9DstOAc80vqViyi38vPc/1bLwB2Ga3DkPltFR+51ah121lFITVyH6HLM98BE8pgKN2KXtmLWYAJIOPh5fXaBueVvx2vRRczeewF9jgM6hZtckRZVmQyvBNIh3TUIlzmCg1F0wHk/8UJ5sIavxdHO1kjOTgA29lH9i+dI2/39ECOnlSmJhU3u/33YIVck+NxLEjLrGW1WxmDF/OjwAE14wC/H0V422tI60ohh1L6mfpVmamaIs8ghv8+XROJsKlLk9BnmnS0J3eVpcA2dxHilk38o+9QS/HBVv0ErkrqNs4PWlyMQ/o5wB75VHOG6TVOeGCjUwanYeNnpudYJPPixOH28xFLaZqW8Ihf4dx7neMdcfJ0NGT5zGgcRcc5cmlNYNe7qBgLgZLyWASRbYviu0LVomZe5mm8AuIWLwebblK/o3veDWcnVNMoMsa2wOCBM="
  # Ex. travis encrypt SONATYPE_PASSWORD=your_sonatype_password
  - secure: "IeONJMdKNYPES8ioFre+EUwKlHQ57yQpknByp7nRUUMzqcFI/pzlMtcLgejzYIhrf3+mYvDOyXEvE11KiwB0zsjDP0UQ1gC54VGorbv/KsUmfww8zcGKGJwsSVYtfTNmpKzflzr84ICHlKI8S6u704Hj69h+g2O/061va5er7QQEN/wqBDEMD9wjg4pll2vodC2gMEuhL1qQcn9+c4jbvbqduz/6YX9UZ9Dk6x1LX0CBymhVsGQojdS7MrzmV8b0R7tF5musala11pT6ndhhcRN486rHkZ7XrSnz6r3hBqVDqJI2/+BusDtUXE1hvpgDk1Z8A6WFmGY8NoQZuktsLA65BgnCRgsQQT0rox7RsZu+XJzGmPzqNeut5jIeG6yfdroq9TwjalEy4lfT/EzJlfOiBTVtKQy5+SxkZfbl7QO8nUBR4UBblTi5cGbPTRubgLFEVuJvJQEAOYMTDwwG3N+fpF/C6Fp3KlKlqmgzpcDEJ/HWCyVd00o8Niqkit4jN20BWfRIuF+1D1kttwk/TOSuj5XN/YYVjRBUzXna/JPXlFwvWEXQQseNp9F+dmASgyCXHifksvj6x63+QMcZRrSzpZN29htNXV+yRqxZGTlsgB82Nz1g7PIpDmJ5bbUDis3zO/ztk9DepOoQqpOt38piz2sg/Nawstm4i/iuO0I="
